<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Valid Address</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <div class="container">
        <header>
            <h1>Valid Address</h1>
        </header>
        <form action="/some/where" method="POST">
            <div>
                <label>Email: <input autofocus="autofocus" type="email"/></label><br/>
            </div>
            <input type="submit">
        </form>

        <a href="https://client.wavesplatform.com#gateway/auth?r=https://127.0.0.1:8080/webhook&n=ValidAddress&d=0123456789abc&i=/img/logo.png&success=/wavesAuth">example</a>
    </div>
</main>
</body>
</html>